@media(max-width : 1441px){
  .project{
    height: 100vh;
  }
}
@media(max-width: 1025px){
  .logo{
    font-size: 30px;
  }
  .links a{
    font-size: 20px;
  }
  .about{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .about img{
    height: 95vh;
    width: 100%;
    grid-column: 1;
  }
  .about-right{
    float: inline-end;
    grid-column: 2;
    margin: 0 5%;
  }
  .about-me{
    margin-top: 7%;
    font-size: 45px;
  }
  .about-desc{
    font-size: 17px;
  }
  .table-left{
    font-size: 20px;
  }
  .table-right{
    font-size: 20px;
  }
  .edu-title,
  .exp-title,
  .skills-title,
  .proj-title,
  .contact-title
  {
    font-size:40px;
  }
  .edu-left,
  .exp-left{
    padding-left: 80%;
    font-size: 60px;
  }
  .edu-right,
  .exp-right{
    font-size: 22px;
  }
  .btn-github{
    margin-top: 7%;
  }
  #digital-btn{
    margin: 37% auto;
  }
  #id-btn{
    margin: 15% auto;
  }
  #age-btn{
    margin: 17% auto;
  }
  .contact-box{
    height: 17vh;
  }
  .contact-title{
    margin:70% auto 0;
  }
  .contact-box{
    margin: 7% auto 7%;
  }
}

@media (max-width: 769px) {
  .links {
    display: none; /* Hide links by default on smaller screens */
    flex-direction: column;
    background-color: #101010;
    position: absolute;
    top: 60px;
    right: 0;
    top: 4px;
    width: 100%;
    text-align: center;
  }

  .links.show {
    display: flex;
    width: 40%;
    align-items: center;
    padding: 20px;
    align-items: center;
    min-height: 100vh;
  }

  .hamburger {
    color: #ddde;
    display: block;
    padding-right: 2%;
  }

  .name{
    font-size: 60px;
  }

  .about{
    display: flex;
    flex-direction: column;
  }

  .about-left img{
    width: auto;
  }
  .about-right{
    margin-left: 10%;
  }
  .about-me{
    font-size: 40px;
    margin-top: 5px;
  }
  .about-desc{
    font-size:20;
  }
  .table-right{
    font-size: 20px;
  }

  .edu-left,
  .exp-left{
    padding-left: 50%;
    font-size: 60px;
  }
  .edu-right,
  .exp-right{
    font-size: 22px;
    width: 500px;
    
  }

  .proj{
    width: 45%;
  }

  .btn-github{
    margin-top: 6%;
  }
  #digital-btn{
    margin:63% auto;
  }
  #id-btn{
    margin: 23% auto;
  }
  #age-btn{
    margin: 32% auto;
  }
  .contact-box{
    height: 17vh;
  }
  .contact-title{
    margin:90% auto 0;
  }
  .contact-box{
    margin: 7% auto 7%;
  }
  
}


@media (max-width: 426px) {
  .logo{
    padding-left: 30px;
  }

  .links {
    display: none; /* Hide links by default on smaller screens */
    flex-direction: column;
    background-color: #101010;
    position: absolute;
    top: 60px;
    right: 0;
    top: 4px;
    width: 100%;
    text-align: center;
  }

  .links.show {
    display: flex;
    width: 40%;
    align-items: center;
    padding: 20px;
    align-items: center;
    min-height: 100vh;
  }

  .hamburger {
    color: #ddde;
    display: block;
    padding-right: 2%;
  }

  .hey{
    font-size: 30px;
  }
  .name{
    font-size: 40px;
    margin-bottom: 15%;
  }
  .iam{
    font-size: 25px;
  }

  .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-me{
    font-size: 40px;
    margin-top: 3%;
  }
  .about-left img{
    width: 100%;
    height: auto;
  }
  .about-desc{
    font-size:20;
  }
  .table-right{
    font-size: 20px;
  }

  .exp-details,
  .edu-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .edu-left,
  .exp-left{
    font-size: 60px;
    width: auto;
    padding-left: 0;
  }
  .edu-right,
  .exp-right{
    font-size: 22px;
    width: 100%;
  }
  
  .exp-place {
    overflow-wrap: break-word;
    height: 50px;
    line-height: 35px;
  }
  .skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .skills-title{
    margin: 15% auto 2%;
  }
  .skills-table table, 
  .skills-table tr, 
  .skills-table td {
    display: block;
    width: 100%;
  }

  .proj{
    width: 90%;
  }

  .btn-github{
    margin-top: 6%;
  }
  #digital-btn{
    margin:50% auto;
  }
  #id-btn{
    margin: 15% auto;
  }
  #age-btn{
    margin: 38% auto;
  }
  .contact-box{
    height: 17vh;
  }
  .contact-title{
    margin: 2000px auto 0;
  }
  .contact-box{
    margin: 7% auto 7%;
    width: 90%;
    display: flex;
    align-items: center;
  }
  
}


@media(max-width: 376px){
  .logo{
    font-size: 26px;
    padding-left: 20px;
  }
  .about-me{
    font-size: 35px;
    margin-bottom: 15%;
  }
  .table-right{
    font-size: 17px;
  }
  .icon-cont i{
    font-size: 40px;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  #digital-btn{
    margin:50% auto;
  }
  #id-btn{
    margin: 15% auto;
  }
  #age-btn{
    margin: 28% auto;
  }
  .contact-box{
    height: 17vh;
  }
  .contact-title{
    margin: 2000px auto 0;
  }
  .contact-box{
    margin: 7% auto 7%;
    width: 90%;
    display: flex;
    align-items: center;
  }
}

@media(max-width: 321px){
  .hey{
    font-size: 25px
  }
  .name{
    font-size: 30px;
  }
  .iam{
    font-size: 20px
  }
  .table-right{
    font-size: 15px;
  }
  .exp-pos{
    height: 30px;
    overflow-wrap: break-word;
    line-height: 25px;
  }

  .proj{
    width: 90%;
    height: 98vh;
  }
  .td-desc{
    font-size: 17px;
  }
  #digital-btn{
    margin:50% auto;
  }
  #id-btn{
    margin: 15% auto;
  }
  #age-btn{
    margin: 38% auto;
  }
  .contact-box{
    height: 17vh;
  }
  .contact-title{
    margin: 2000px auto 0;
  }
  .contact-box{
    margin: 7% auto 7%;
    width: 90%;
    display: flex;
    align-items: center;
  }
}